
<html>


<body>
    <h3> Project </h3>
    
    <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/uploadImage"
        method    =  "post"
    >
    <input type="file" name="uploadImage" />
    <input type="submit" value="Upload Image" name="submit">
    </form>
</body>

</html>